body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.wrapper {
  margin: 15px 15% 0 15%;
}

/*greetings page*/
.greetings-page {
  display: flex;
  flex-direction: column;
}

.greetings-title {
  text-align: center;
}

.greetings-buttons-panel {
  margin-top: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.greetings-anchor {
  text-decoration: none;
  color: Gold;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;

  height: 120px; /*70px*/
  width: 300px; /*200*/
  background-color: CornflowerBlue;
  border: 2px solid BlueViolet;
  border-radius: 10px;
  padding-top: 46px;
  font-size: 18px;
}

.hidden-input {
  display: none;
}

.continue {
  background-color: white;
  border: 2px solid Brown;
  border-radius: 5px;
}

/*character creation page*/
.creation-page {
  min-width: 762px;
}

.creation-page-title {
  text-align: center;
}

.character-creation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.avatar {
  background: url('./avatar.jpg');
  height: 300px;
  width: 400px;
  background-size: cover;
}

.change-page-anchors {
  /*visibility: hidden;*/
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.change-page-anchors a {
  height: 40px;
  width: 150px;
  background-color: CornflowerBlue;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  border-radius: 5px;
}

.creation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 252px;
}

.name-creation-field {
  height: 30px;
  width: 200px;
  background-color: Bisque;
  border: 1px solid Chocolate;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}

.points span {
  font-size: 20px;
  color: blue;
  transition-property: 2s ease;
}

/*atributes*/
.atributes {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.atribute {
  height: 40px;
  width: 200px;
  background-color: Bisque;
  border: 1px solid Chocolate;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.atribute > p {
  margin: 0 auto;
}

.atribute-button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.atribute-button-section button {
  width: 13px;
  height: 13px;
  background: transparent;
  border: 4px solid grey;
  border-bottom: none;
  border-left: none;
  transform: rotate(-135deg);
  cursor: pointer;
  outline: none;
}

.atribute-button-section button:last-of-type {
  transform: rotate(45deg);
}

/*additional atributes*/
.additional-atributes {
  margin-top: 5px;
}

.additional-atribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 200px;
  background-color: Bisque;
  border: 1px solid Chocolate;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 10px;
}

.additional-atribute-stats > p {
  width: 18px;
  text-align: center;
  font-size: 17px;
}

.additional-atribute-stats {
  display: flex;
  flex-direction: row;
  width: 54px;
}

/*description*/
.description {
  margin-top: 10px;
  height: 120px;
  width: 400px;
  background-color: Bisque;
  border: 1px solid Chocolate;
  border-radius: 5px;
  font-style: italic;
  padding-top: 5px;
  padding-left: 5px;
}

/*submit charachter*/
.submit-button {
  cursor: pointer;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  height: 40px; /*50px*/
  width: 150px; /*120px*/
  background-color: LimeGreen;
  border: 1px solid green;
  border-radius: 5px;
}

/*training page*/
.training-content {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.training-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.training-atributes-stuff h5 {
  text-align: center;
  margin-bottom: 10px;
}

.training-avatar {
  background: url('./avatar.jpg');
  height: 240px;
  width: 320px;
  background-size: cover;
  /*height: 240px;
  width: 320px;*/
}

.training-to-creation {
  position: fixed;
  top: 0px;
  left: 100px;
  background-color: LimeGreen;
  border: 1px solid green;
  border-radius: 5px;
}

.training-atributes-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.training-atribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 180px;
  background-color: Bisque;
  border: 1px solid Chocolate;
  border-radius: 5px;
  padding-right: 20px;
}

.training-atribute p:first-child {
  margin: 0 auto;
}

.skills div p:first-child {
  margin: 0 auto;
}

.training-additional-atribute {
  height: 50px;
  background-color: MediumSeaGreen;
  border: 1px solid MediumAquaMarine;
  color: white;
}

.training-parameters {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.character-name {
  text-align: center;
  margin-bottom: 10px;
}

.actions {
  width: 320px;
}

.fighting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.save-progress {
  height: 60px; /*100px*/
  width: 160px;
  background: GoldenRod;
  border-radius: 15px;
  font-size: 24px;
  text-align: center;
  padding-top: 12px;
  /*padding-top: 18px;*/
  cursor: pointer;
}

.fight-button {
  height: 60px; /*100px*/
  width: 140px;
  background-color: Crimson;
  border-radius: 15px;
  font-size: 32px;
  text-align: center;
  padding-top: 5px;
  /*padding-top: 25px;*/
  color: DarkRed;
  cursor: pointer;
}

.fight-button:hover {
  color: black;
}

.actions .description {
  width: 320px;
  height: 100px;
}

.skills-section {
  margin-top: 5px;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-title {
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.skill-points {
  margin-bottom: 4px;
  text-align: center;
}

.skill-points span {
  font-size: 24px;
  color: DarkOrange;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skills div {
  height: 40px;
  width: 180px;
  /*background-color: MediumSlateBlue;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid MediumPurple;
  border-radius: 4px;
  padding-right: 5px;
}

.skills div p:last-child {
  font-size: 30px;
  color: Gold;
  cursor: pointer;
}

.strength {
  background-color: tomato;
}

.agility {
  background-color: lightskyblue;
}

.intelligence {
  background-color: darkgray;
}

.charisma {
  background-color: darkmagenta;
}

/*atribute change animation*/
.booba {
  animation: cool 0.2s forwards;
}

@keyframes cool {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  25% {
    opacity: 0.5;
    transform: translate(100%, 0);
  }
  26% {
    opacity: 0;
    transform: translate(-200%, 0);
  }
  50% {
    opacity: 0.25;
    transform: translate(-100%, 0);
  }
  75% {
    opacity: 0.5;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    color: blue;
  }
}

.goomba {
  color: red;
  animation: pool 0.2s forwards;
}

@keyframes pool {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  25% {
    opacity: 0.5;
    transform: translate(100%, 0);
  }
  26% {
    opacity: 0;
    transform: translate(-200%, 0);
  }
  50% {
    opacity: 0.25;
    transform: translate(-100%, 0);
  }
  75% {
    opacity: 0.5;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    color: blue;
  }
}

/*skill lvlup animation*/
.timon {
  animation: bob_dylan 0.3s ease-out;
}

@keyframes bob_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0.25;
  }
  75% {
    transform: scale(2, 2);
    opacity: 0.5;
  }
  99% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

.pumbaa {
  animation: morrison 0.3s ease-out;
}

@keyframes morrison {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0.25;
  }
  75% {
    transform: scale(2, 2);
    opacity: 0.5;
  }
  99% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

/*
.pop-in {
  animation: hoshi 1s forwards;
}

@keyframes hoshi {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.pop-out {
  animation: san-san 1s forwards;
}

@keyframes san-san {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
*/
